@font-face {
    font-family: "SVN Poppins";
    src: url(../fonts/SVN-Poppins-Regular.ttf) format("truetype");
}
body{
    font-family: 'SVN Poppins' !important;
}



.cnv-img-1x1 {
  position: relative;
  padding-top: 100%;
  display: block;
  overflow: hidden;
}

.cnv-img-2x1 {
  position: relative;
  padding-top: 50%;
  display: block;
  overflow: hidden;
}
/* 4x3 */
.cnv-img-4x3 {
  position: relative;
  padding-top: 75%;
  display: block;
  overflow: hidden;
}

/* 3x4 */
.cnv-img-3x4 {
  position: relative;
  padding-top: 133.33%;
  display: block;
  overflow: hidden;
}

.cnv-img-2x3 {
  position: relative;
  padding-top: 66.6666%;
  display: block;
  overflow: hidden;
}

.cnv-img-1x1 img,
.cnv-img-4x3 img,
.cnv-img-2x3 img,
.cnv-img-2x1 img,
.cnv-img-3x4 img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.pd-tb-small{
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}
.container-width-customer{
    max-width: 1300px
}
.min-px-h600 {
    min-height: 38.5rem;
}

.title.mini.title_customer_width {
    font-weight: 500;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
.main-head .menu{
    width: 100%;
    position: relative;
}


.main-head .header-logo img{
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
.header-logo{
    padding-bottom: 10px !important;
}

.header-sticky .header-logo img{
    width: auto !important;
}
.domain_name::-webkit-input-placeholder {
    font-family: 'Roboto'!important;
}
.domain_name::-moz-placeholder {
    font-family: 'Roboto'!important;
}
.domain_name::-ms-input-placeholder {
    font-family: 'Roboto'!important;
}


.joinButton{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #F3648C;
    min-height: 46px;
    min-width: 48px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 15px;
    border: 0px;
    transition: all 0.3s ease 0s;
}
.main-head{
    background-color:#fff;
}


.pe-7s-more:before {
    content: "\e632";
    color: #000;
}

.des_header{
    font-size:15px !important;
    color:#333 !important;
}
/*End Header*/

/*Banner*/
.title-banner{
    font-size: 48px !important;
    line-height: 55px;
}
.title_style{
     color:#3c3636  !important;
     line-height: 35px;
}
.form-block-customer{
    padding:0px !important;
}
.title-sub.mini{
    margin-bottom:15px;
}
.typo-light .error{
    color:red !important;
}

.form-block-customer button{
    background: #F3648C !important;
    padding: 17px 25px;
    border-color: #fff !important;
}
.solid.btn-dark:hover{
    color:#fff
}
.pd-tb-medium {
    padding-bottom: 3.375rem;
}

/*End Banner*/

/*Dich vu*/
.pd-tb-small{
    padding-top:35px;
}
.title.small.title_customer {
    font-size: 16px;
    font-weight: 600;
    color:#F3648C;
}
.title-sub-customer{
    font-weight:600;
}

/*End Dich vu*/

/*Features*/
.features_content{
    padding-top: 25px;
}
.features_content .title-sub-customer{
    font-size: 28px;
    font-family: 'SVN Poppins';
    font-weight: 500;
    margin-bottom: 20px
}
.features_content .title_sub_description{
    color: #3e3c3c;
    font-size: 15px;
    font-weight: 400;
}
.features_content .title_collapse{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    padding-left:25px;
}
.features_content .acc-block{
    background: rgb(246, 248, 251);
    margin-bottom:20px;
}
.features_content .acc-hd-contain{
    border-radius: 10px;
    border-bottom: none;
    padding: 25px 40px 25px 0;
}
.features_content .acc-hd-contain .acc-open, .features_content .acc-hd-contain .acc-close{
    padding-right: 25px
}

.features_content .acc-block .acc-content{
    padding: 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    color: rgb(52, 61, 72);
    font-size: 15px;
    line-height: 32px;
}
.features-box{
    margin-bottom:30px;
}

.features-box .video-box{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.features-box .bg-features{
    position: relative;
    justify-content:center;
    align-items: center;
    max-height: 705px;
}
.features-box .bg-features .btn-video-popup{
    width: 50px;
    height: 50px;
    background-color: #000000a6;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 45%;
    margin: 0 auto;
}
.features-box .bg-features .btn-video-popup{
    border-color: #000000a6;
}

.features-box .bg-features .btn-video-popup:focus{
        color: #f3648c !important;
}
.container_quantity{
    font-family: 'SVN Poppins' !important;
}
.container_quantity .title{
    font-weight: 600;
    font-size:34px;
}
.container_quantity .title-sub.small{
    font-size:16px;
}

.container_quantity .inline-list-customer{
    text-align: initial;
    display: flex;
    flex-wrap: wrap;

}

.container_quantity .inline-list-customer svg {
    color: #F3648C;
    margin-right: 8px;
}
.container_quantity .inline-list-customer > li{
    display: inline-flex;
    -webkit-box-align: center;
    font-weight: 500;
    font-size: 16px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    margin:0px 0px 20px 0px;
    padding:0px;
    color:#040202;
}

.features-box .learmore{
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color:#F3648C;
}

.service_description{
    color: #F3648C;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    width: 65%;
    margin: auto !important;
}

.features-box .learmore{
    font-weight: 500;
    margin-top:15px;
}

.features-box .learmore .fa-chevron-right:before {
    font-size: 12px;
    font-weight: 600;
}

#modelVideo .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



#modelVideo .modal-body {
  position:relative;
  padding:0px;
}
#modelVideo .close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
/*End Features*/


.video-box iframe{
    height:100%;
    width:100%;
}

/*Gia*/


.container-price .rec-label {
    background-color: rgb(82, 172, 255);
    width: 100%;
    margin: 0 auto;
    min-height: 35px;
    display: flex;
    color: rgb(255, 255, 255);
    border-radius: 10px 10px 0px 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom:20px;
}
.container-price .rec-label.not_choice_select{
    background-color: transparent;
}

.container-price .pricing_style {
    font-weight: bold;
    font-size: 26px;
    line-height: 34px;
    display: flex;
    letter-spacing: -0.55px;
    -webkit-box-align: baseline;
    align-items: baseline;
    margin-top: 20px;
    color:#000;
    justify-content: center;
}
.container-price .button_price:hover {
    background-color: #F3648C;
    color: rgb(255 255 255);
}

.container-price .price_box_select{
    box-shadow: 0px 3px 10px 7px #797676;

}
.container-price .pricing_style span {
    font-size: 16px;
}

.container-price .des_price{
    color:rgb(52, 61, 72);
}

.container-price  .button_price {
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgba(91, 43, 157, 0.15);
    color: #F3648C;
    min-height: 46px;
    min-width: 48px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 15px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: 26px;
}

.container-price  .button_price_choice{
    color: rgb(255, 255, 255);
    background-color: #cd3f24;
}
.container-price .list_des_price{
    color: rgb(52, 61, 72);
    display: flex;
    font-size: 16px;
    line-height: 26px;
    margin-top: 30px;
    text-align: left;
}

.container-price .title_price_table{
    color:red;
}
.container-price .list_des_price i{
    display: inline-block;
    color: #E9C46A;
    margin-right: 12px;
}

.container-price .list_des_price.not_choice ,
.container-price .list_des_price.not_choice i{
    color: #9d9fa1;
}


.container-price table {
    width: 100%;
    border-collapse: collapse;
    margin:0px auto;
    }

/* Zebra striping */

.th_sst , .th_tinh_nang{
    background: #3f5167;
}

.th_fb_loyalty{
    background: #f280a1
}

.th_zalo{
    background: #0180c7
}

.th_combo{
    background: #475993
}

.container-price table th {
    color: white;
    font-weight: bold;
    }

.container-price table td, .container-price table th {
    padding: 10px;
    border: 2px solid #f280a1;
    font-size: 18px;
    text-align: center;
    }

.container-price table tr td strong{
    color:#000;
}

.container-price table tr td span{
    color:#333;
}

#gia .logo{
    max-width: 100px;
    max-height: 100px;
    height: auto;
    display: inline-block;
}

#gia .logo_left , #gia .logo_right{
    margin:0 60px;
}

.remove_i{
    color:#ee4851;
}
.check_i{
    color:#2fb78a;
}

@media screen and (min-width: 992px){
    .tinh_nang_width{
        max-width:250px;
    }
    .main-head .menu .menu-item:last-child{
        position: absolute;
        right: 0;
        top:7%;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1200px){
    .features_content_left,.features_content_right{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .w85{
        width: 100%;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /*.container_table_price{
        overflow-x: auto;
    }*/
    /*.container-price table tr td span{
        color:#000;
    }

    .container-price .title-sub-customer {
        margin-bottom:0px;
    }
    .container-price table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
    }

    table tr, table td {
        display: block;
        width: 100%;
    }

    table tr{
        margin-bottom:40px;
    }

    .container-price table td{
        border-bottom:none;
    }
    .container-price table td:last-child{
        border-bottom: 2px solid #f280a1;
    }
    .container-price td:before{
        content: attr(data-column);
        display: block;
        width: 100%;
        color: #f33434;
    }*/

}

/*End Gia*/


/*Phản hồi*/
.container-testimonials::before{
    background-color: rgb(240, 243, 248);
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: calc(100% - 30px);
}
.container-testimonials .pd-mini p , .container-testimonials .pd-mini h2{
    color:#211616  !important;
    font-family: "DM Sans", sans-serif;
}
.container-testimonials .pd-mini p {
    font-size: 15px;
}
.container-testimonials .pd-mini h2{
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -1px;
}

.container-testimonials{
    padding-bottom: 0px !important
}
/*End Phản hồi*/

/*Tin tuc*/

.img_new{
    margin-bottom: 25px !important;
    min-height: 150px;
}
.section_new{
    padding-top: 100px !important
}
.section_new .info-obj .info{
    text-align:left;
}

.section_new .info-obj .info .learmore{
    font-size: 15px;
    line-height: 42px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color:#F3648C;
    font-weight: 500;
    margin-top:15px;
}


.section_new .info-obj .info .learmore .fa-chevron-right:before {
    font-size: 12px;
    font-weight: 600;
}
/*End Tin tuc*/

/*Câu hỏi*/
.container_faq_form{
    margin-top:5%;
}
.contain_faq .info-obj{
    border-bottom: 2px solid rgb(15, 33, 55);
    padding-bottom: 5%;
}
.wrap_faq{
    background: url(../images/hoavan_faq.png) 66% center no-repeat #F3648C;
    border-radius: 15px;
    padding: 40px 75px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.wrap_faq .title{
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -0.5px;
    max-width: 52%;

}
.wrap_faq .wrap_button{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.wrap_faq .wrap_button button{
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /*color: rgb(255, 255, 255);
    background-color: #F3648C;*/
    background-color: rgb(255, 255, 255);
    color: rgb(24, 54, 86);
    margin: 15px 0px;
    min-height: 46px;
    min-width: 48px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    padding: 8px 15px;
    border: 0px;
    transition: all 0.3s ease 0s;
}
/*End Câu hỏi*/

/*Footer*/
.menu_item li a{
    color: rgba(2, 7, 62, 1);
    font-size: 15px;
    line-height: 2.5;
}

footer h4.main_title {
    letter-spacing: -0.5px;
    color: rgb(15, 33, 55);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    font-weight:bold;
}

footer .menu_item li a img {
    margin-right: 12px;
    display: initial;
}
/*End Footer*/

 #tinh-nang .info-obj.img-t {
    background: #f3f3f3;
    padding: 30px 0px;
}

#form_tich_hop .btn_tich_hop_cho_toi{
    width: 45%;
}

#tinh-nang .info-obj .img img {

}
#giai-phap .img_info_giai_phap{
    height: 100px;
    width: 100px;
}

.icon_social{
    width: 20px;
    height: 20px;
}

.title_strong{
    font-weight: bold;
    font-size:20px;
}

@media screen and (max-width: 1024px){
    .container-price .price_box_select {
        box-shadow: none;
    }
}

@media screen and (min-width: 992px){
    .price_md_customer{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        /*max-width: 20%;*/
    }
}
.kenh_social{
    font-size:20px;
    font-weight: bold;
    display: block;
    margin-top:10px;
}
@media screen and (max-width: 991px){

    .features_content_left {
        background-position:center;
    }
    .container-price .button_price{
        margin-top:0px;
    }
    .title-banner{
        font-size:38px !important;
    }
    .cnv-img-2x1 {
        padding-top: 25%;
    }
    .title-sub[data-rgen-sm*="small"] {
        margin-bottom: 20px;
    }
    #trang-chu .title-banner{
        line-height: 55px
    }
    #form_tich_hop .btn_tich_hop_cho_toi{
        width: 100%;
    }
    #tinh-nang .service_description{
        width: 100%;
    }
    #phan-hoi .title-sub.small{
        font-size:25px;
    }
    .main-head.dark .open.m-nav {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 13px 0px;
    }
    .container-width-customer{
        width: 100%;
        max-width: 100%
    }
    .features_content{
        padding-left: 0px;
        padding-right: 0px;
        margin: 0;
        width: 100%;
    }
    .features-box .bg-features{
        min-height:25em;
    }

    .w85{
        width: 100%;
    }
    .min-px-h600{
        min-height: auto
    }
    .wrap_faq{
        flex-wrap: wrap;
        padding: 30px 45px;
    }
    .wrap_faq .title {
        font-size: 24px;
        line-height: 40px;
        max-width: none;
        letter-spacing: initial;
        text-align:left;
    }
    .contain_menu_item{
        text-align:left;
    }

    #gia .logo_left, #gia .logo_right {
        margin: 0 10px;
    }

    /*Form*/
    #modal-inpage {
        z-index: 99999 !important;
        padding: 15px !important;
        overflow: scroll !important;
    }
    .group-content-modals {
        top: 70px !important;
    }
    .heade-modal {
        width: 100% !important;
    }

    .heade-modal p {
        margin-top: 0 !important;
        margin-bottom: 5px !important;
        text-align: center !important;
    }
    .heade-modal p img {
        max-width: 260px !important;
    }
    .content-modals {
        width: 100% !important;
        padding-bottom: 10px !important;
    }
    .group-slogan-modals {
        padding: 0 !important;
        margin-bottom: 0 !important;
    }
    .title-slogan-modals {
        font-size: 16px !important;
        margin-top: 0 !important;
    }
    .descripstion-modals {
        font-size: 12px !important;
        margin-bottom:3px !important;
    }
    .input input {
        margin-bottom: 10px !important;
        height: 35px !important;
    }
    /*End Form*/

}

@media screen and (max-width: 1024px) and (min-width: 768px){
    .price_md_customer {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .md_box_tinh_nang{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .features_content_left , .features_content_right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/*Doi tac*/
#khach-hang .headbox {
    text-align: center;
}
#khach-hang  .partner .headbox .title {
    max-width: 780px;
    font-size: 44px;
    line-height: 56px;
}
.headbox .title {
    font-family: 'SVN Poppins'!important;
    margin-bottom: 0!important;
    font-weight: 300;
    font-size: 30px!important;
}
#khach-hang  .headbox .title {
    margin-bottom: 20px !important;
    color: #3E5167;
    font-weight: 700;
}
#khach-hang  .headbox p {
    text-transform: initial;
    color: #afafaf;
    font-size: 16px;
    font-family: 'SVN Poppins'!important;
    letter-spacing: 1px;
}
#khach-hang  .headbox p {
    color: #6e7488;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0;
}
#khach-hang  .headbox:after {
    content: '';
    width: 15%;
    height: 3px;
    background: #FAB2C6;
    display: block;
    margin: 15px auto 0;
}
#khach-hang  .customers_partner {
    overflow: hidden;
    text-align: center;
    padding-top: 40px;
    display: inline-block;
}
#khach-hang  .customers_partner .li {
    width: 16.66666666%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 10px;
    display: inline-block;
}
#khach-hang  .customers_partner .li img {
    width: 90%;
    height: 91px;
    object-fit: cover;
}
#khach-hang  .customers_partner_mobile {
    display: none;
}
.customers_partner_mobile:not(.slick-initialized) {
  display: none;
}
#khach-hang{
    padding-top: 0px
}
@media screen and (max-width: 991px){
    .customers_partner_mobile{
        display: block !important;
    }
    .customers_partner_desktop{
        display: none !important;
    }
}
/*Doi tac*/


/*Form popup*/
#modal-inpage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    padding: 25px;
}
#modal-inpage .group-content-modals {
    max-width: 750px;
    width: 100%;
    background: #fff url(../images/bgr-popup.png);
    position: relative;
    top: 82px;
    left: 50%;
    transform: translate(-50%,-35px);
    display: flex;
    flex-wrap: wrap;
    padding: 30px 25px;
    background-repeat: no-repeat;
    background-position: -3px;
    background-size: 440px;
}

#modal-inpage .heade-modal {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal2-container{
    z-index: 99999 !important;
}
#modal-inpage .heade-modal p {
    max-width: 325px;
    margin: auto;
    margin-top: 32%;
}
#modal-inpage .content-modals {
    width: 55%;
    padding: 0 25px;
}
#modal-inpage .group-slogan-modals {
    padding: 7px;
    margin-bottom: 0;
}
#modal-inpage #close-modal-page {
    display: block;
    background: #f4b3ce;
    float: right;
    padding: 3px;
    box-shadow: 0 1px 1px 0 #7c7c7c;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}
#modal-inpage .title-slogan-modals {
    font-size: 25px;
    text-align: center;
    color: #000;
    margin-top: 10px;
    font-weight: 700;
}
#modal-inpage .descripstion-modals {
    color: #000;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    padding: 0;
}
#modal-inpage .input {
    text-align: center;
    display: inline-block;
    width: 100%;
}
#modal-inpage .input input {
    border: solid 2px #eef4f4;
    background: #eef4f4;
    border-radius: 7px;
    width: 100%;
    margin-bottom: 17px;
    height: 42px;
    color: -internal-light-dark(black, white);
}
#modal-inpage .input.phones {
    width: 48%;
}
#modal-inpage .input.emails {
    width: 48%;
    float: right;
}

#modal-inpage input[type=email], #modal-inpage input[type=password], #modal-inpage input[type=text] {
    padding-left: 12px;
    padding-right: 12px;
}

#modal-inpage .btn-modalss {
    width: calc(100% - 62px);
    background: #e45991;
    border: solid 1px #e45991;
    color: #fff;
    font-size: 16px;
    text-align: center;
    height: 52px;
    border-radius: 44px;
    margin-top: 7px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in-out .5s all;
    position: relative;
}
.btn-modalss::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 11px;
    transform: translate(-15px,-50%);
    background: url(../../assets/images/paperr.png);
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}
/*End Form popup*/
.title_upercase{
    text-transform: uppercase;
}

/*nut goi icon và mạng xã hội*/
.btn-call {
    position: fixed;
    bottom: 10%;
    left: 30px;
    z-index: 999;
}
.btn-call strong {
    color: #fff;
    background: rgba(237,29,36,.8);
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    border-radius: 5px;
    position: absolute;
    left: 106%;
    margin-left: 5px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
    top: 50%;
    margin-top: -18px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-call strong:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid rgba(237,29,36,.8);
    border-bottom: 6px solid transparent;
    position: absolute;
    left: -8px;
    top: 50%;
    margin-top: -6px;
}
.btn-call span {
    transform: rotate(90deg);
    display: block;
    font-size: 18px;
    width: 46px;
    height: 46px;
    margin: auto;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #ed1d24;
    position: relative;
}
.btn-call span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: solid 1px rgba(237,29,36,.6);
    -webkit-animation-name: zoomin;
    animation-name: zoomin;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.btn-call span i {
    -webkit-animation-name: lac;
    animation-name: lac;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.btn-call span:after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: rgba(237,29,36,.6);
    z-index: -1;
    -webkit-animation-name: zoomout;
    animation-name: zoomout;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes lac {
    0% {
        transform: rotate(0)
    }
    10% {
        transform: rotate(-25deg)
    }
    20% {
        transform: rotate(25deg)
    }
    30% {
        transform: rotate(-25deg)
    }
    40% {
        transform: rotate(25deg)
    }
    50% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(0)
    }
}

@-webkit-keyframes lac {
    0% {
        -webkit-transform: rotate(0)
    }
    10% {
        -webkit-transform: rotate(-25deg)
    }
    20% {
        -webkit-transform: rotate(25deg)
    }
    30% {
        -webkit-transform: rotate(-25deg)
    }
    40% {
        -webkit-transform: rotate(25deg)
    }
    50% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(0)
    }
}

@keyframes zoomin {
    0% {
        transform: scale(.8);
        opacity: 1
    }
    100% {
        transform: scale(2.2);
        opacity: .1
    }
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(.8);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(2.2);
        opacity: .1
    }
}

@keyframes zoomout {
    0% {
        transform: scale(.8);
        opacity: 1
    }
    100% {
        transform: scale(1.1);
        opacity: .3
    }
}

@-webkit-keyframes zoomout {
    0% {
        -webkit-transform: scale(.8);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(1.1);
        opacity: .3
    }
}
.group-contact-shops {
    position: fixed;
    left: 30px;
    bottom: 130px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.group-contact-shops a {
    display: block;
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
    transition: ease-in-out .3s all;
}
.group-contact-shops a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 991px){
    .btn-call strong{
        display: none;
    }
}
/*nut goi icon và mạng xã hội*/


/*Css trang cảm on*/
.page_thank{
    padding-bottom: 30px
}
.page_thank .title{
    font-size: 32px !important;
    text-align: center;
    color:#fff !important;
}

.page_thank .title_sub_small{
    font-size: 18px !important;
    margin-top: 55px;
}

.page_thank p{
    color:#fff !important;
}

.page_thank_container{
    background: url('../images/bg_thank.png');
    background-size: 100% 100%;
}
.comback_social a:hover{
    background: #f15783;
    opacity: 1 !important;
}
.comback_social a{
    color: #fff;
    font-size: 18px;
    background: #ed1d24;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 10px;
    display: block;
    width: 15%;
    margin: 0 auto 10px auto;
}

.bg-contain-video{
    position: relative;
    min-height: 500px;
}
.bg-contain-video iframe{
    position: absolute;
    top: 4%;
    left: 3.5%;
    width: 91%;
    height: 66%
}

@media screen and (max-width:1280px) and (min-width: 1024px){
    .comback_social a{
        width: 25%;
    }
    .bg-contain-video{
        background-size: 100% 100%;
        min-height: 500px !important;
        min-width: max-content !important;
        max-height: initial !important;
        max-width: initial !important;
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50%;
        opacity: 1;
    }

    .bg-contain-video iframe {
        height: 66%;
        width: 93%;
    }
}

@media screen and (max-width:991px){
    .comback_social a {
        width: 100%;
    }

    .bg-contain-video iframe {
        top: 6%;
        height: 65%;
    }
}


@media screen and (max-width:768px) and (min-width:768px){
    .comback_social a {
        width: 50%;
    }
    .bg-contain-video iframe{
        top: 5%;
        height: 66%;
        left: 23.5%;
        width: 53%;
    }

}

@media screen and (max-width: 600px) and (min-width: 600px){
    .bg-contain-video iframe {
        top: 5%;
        height: 65%;
        left: 16%;
        width: 68%;

    }

}

@media screen and (max-width: 540px) and (min-width: 540px){
    .bg-contain-video iframe {
        top: 5%;
        height: 65%;
        left: 13%;
        width: 74%;
    }
}

@media screen and (max-width:375px) and (min-width:375px){
    .bg-contain-video iframe{
        top: 9%;
        height: 60%;
        left: 3.5%;
        width: 92.5%;
    }
}




@media screen and (max-width:360px) and (min-width:360px){
    .bg-contain-video iframe{
        top: 13%;
        height: 54%;
        left: 3.5%;
        width: 92.5%;
    }
}

@media screen and (max-width:320px) and (min-width:320px){
    .bg-contain-video iframe{
        top: 17%;
        height: 48%;
        left: 4.5%;
        width: 92%;
    }
}
/*End Css trang cảm on*/

