@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

.box-area {
  width: 930px;
}
.right-box {
  padding: 40px 30px 40px 40px;
}
::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}
.btn-login{
  background-color: #1087be !important;
}
.btn-login:hover{
  background-color: #54bbeb !important;
  border: 1px solid #54bbeb;
}
.text-contact{
  font-size: 20px !important;
}
.forgot-password{
  float: right;
}
.text-success-email{
  color: #10d20f;
    font-weight: 500;
    font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
